.alert {
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.112);
    opacity: 1;
    transition: opacity 0.6s;
    margin-top: 15px;
    max-width: fit-content;
}

.alert .description {
    padding: 10px;
}

.alert .header {
    background-color: var(--clump-1-4);
    color: var(--clump-on-primary);
    display: flex;
    justify-content: space-between;
}

.alert .header .title {
    padding: 10px;
}

.alert .header .options {
    padding: 10px;
    margin-left: 10px;
    border-left: 2px solid var(--clump-on-primary);
}

.alert .header .options button {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    color: var(--clump-on-primary);
    cursor: pointer;
    transition: 0.5s;
}

.alert .header .options button:hover {
    color: black;
}

.alert .description {
    background-color: var(--clump-on-primary);
    color: var(--clump-1-3);
}