.login {
    width: 100%;
    height: 100%;
    background: #2785F0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login>h1 {
    color: #fff;
    font-size: 2.5em;
    margin: 15px 0 0 0;
}

form {
    width: 80%;
    height: 90%;
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-bottom: 4%;
    color: #183FD9;
}

input,
select {
    width: 40%;
    background: #EBEBEB;
    border: none;
    border-radius: 33px;
    padding: 10px;
    margin: 10px;
    font-size: 15px;
    text-align: center;
    color: #183FD9;
}

.sublog {
    width: 40%;
    background: #C6D9EE;
    border: none;
    border-radius: 33px;
    padding: 10px;
    margin: 10px;
    font-size: 15px;
    text-align: center;
    color: #183FD9;
}

.sublog:hover {
    background: #2785F0;
    color: #fff;
}

@media (max-width: 821px) {
    form {
        width: 90%;
        height: 90%;
        margin-top: 4%;
    }

    input {
        width: 90%;
        height: 60px;
    }

    button {
        font-size: 1px;
    }

    form {
        width: 75%;
        height: 60%;
    }

    .login>h1 {
        font-size: 2em;
    }
}