nav {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    background-color: var(--clump-1-3);
    color: var(--clump-on-primary);
}

nav .logo {
    width: 10%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

nav .logo .img-logo {
    width: 115px;
    height: 115px;
}

nav .branding {
    width: 30%;
    display: flex;
    justify-content: center;
}

nav p {
    font-size: 50px;
}

.classul {
    width: 60%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style: none;
}

nav .classul li {
    cursor: pointer;
    font-size: 35px;
}

nav .classul a {
    color: white;
    text-decoration: none;
}

.nav-toggle {
    display: none;
}

.nav-active {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    display: block;
    float: left;
    justify-content: start;
    align-items: start;
}

.classul-close {
    display: none;
}